@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #d4d4d4;
    padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

h2, h3 {
    margin: 20px 0;
}

/* Our brand stripe */
#our-brand {
    display: none;
}

.our-brand {
    background-color: #e40202;
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -1px;
}

.our-brand a {
    color: #fafafa;
}

.our-brand a:hover {
    color: #e40202;
    background-color: #fafafa;
    text-decoration: none;
    border-radius: 5px;
}

/* Showrecipe.html styles */
.recipe_image {
    max-width: 525px;
    max-height: 261px;
    margin: auto;
    border-radius: 8px;
}

.recipe-left {
    background-color: rgba(189, 189, 189, 0.5);
    border-radius: 8px;
    padding: 3% 0 0 3%;
    width: 100%;
}

.second-row {
    padding-top: 1%;
}

.text-bold {
    font-weight: 500;
    font-style: italic;
}

/* newrecipe.html styles */
.form-text {
    padding-left: 4px;
}

label {
    margin: 0.5rem 0 0 0.2rem;
}

textarea {
    overflow-y: hidden;
}

.fa-asterisk:before {
    color: red;
    font-size: 8px;
}
/* recipes.html styles */
.btn-recipe {
    position: absolute;
    bottom: 3%;
    left: 30%;
}

.card-img {
    width: 270px;
    height: 180px;
    
}

.recipe-list {
    margin-left: 1rem;
}
/* Navigation bar --------- */
.cook-navbar {
    background-color: transparent;
}

.navbar-toggler {
    color:rgb(255,255,255);
    border-color:rgb(255,255,255);
}

.navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.cook-navbar a {
    color: #fafafa;
    text-shadow: 0px 0px 6px #000000, -3px -3px 6px #000000, 3px 3px 6px #000000, 3px 3px 6px #000000;
}
.navbar a:hover {
    color: #007bff;
    font-weight: 600;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8)
}

/* Page header */
.logo {
    background-image: url("/static/images/various-spices-and-herbs-website-header.jpg");
    background-size: cover;
    height: 255px;
    margin-bottom: -55px;
    padding-top: 4%;
    color: #fafafa;
    text-shadow: 0px 0px 6px #000000, -3px -3px 6px #000000, 3px 3px 6px #000000, 3px 3px 6px #000000;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8)
}

/* Contact us */
.email-success {
    font-size: 1.5rem;
    font-weight: 500;
    width: 50%;
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    background-color: rgb(78, 219, 78);
}

.email-failed {
    font-size: 1.5rem;
    font-weight: 500;
    width: 50%;
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    background-color: rgb(228, 74, 74);
}

/* Footer */
#footer {
    color: #fafafa;
    height: 3%;
    
}

#footer a {
    color: #fafafa;
    padding-top: 2px;
}

.divider {
    padding: 0 0.5rem;
}

/* Mobile screen size styles */
@media only screen and (max-width: 768px) {
    .small {
        display: none;
    }
    .recipe-left {
        max-width: 92%;
        margin: 2% auto 2%;
    }

    .recipe-list {
        margin: auto;
        width: 270px;
    }

    .card-img {
        display: block;
        margin: 5px auto;
    }
    
    .recipe-card {
        width: auto;
    }

    .recipe-button {
        padding-top: 1rem;
    }

    /* Footer */
    #footer {
        height: auto;
    }
}

/* Large screen only styles */
@media only screen and (min-width: 998px) {
    .recipe-card {
        width: 540px;
    }
}