body {
    background-color: #d4d4d4;
    padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

h2 {
    margin: 20px 0;
}

/* Showrecipe.html styles */
.recipe_image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 8px;
}

.recipe-left {
    background-color: rgba(189, 189, 189, 0.5);
    border-radius: 8px;
    padding: 2% 0 0 3%;
    width: 100%;
}

.second-row {
    padding-top: 1%;
}

/* newrecipe.html styles */
.form-text {
    padding-left: 4px;
}

label {
    margin: 0.5rem 0 0 0.2rem;
}

textarea {
    overflow-y: hidden;
}

.fa-asterisk:before {
    color: red;
    font-size: 8px;
}
/* recipes.html styles */
.btn-recipe {
    position: absolute;
    bottom: 3%;
    left: 30%;
}

/* Navigation bar --------- */
.cook-navbar {
    background-color: transparent;
}
.cook-navbar a {
    color: #fafafa;
    text-shadow: 0px 0px 6px #000000, -3px -3px 6px #000000, 3px 3px 6px #000000, 3px 3px 6px #000000;
}
.navbar a:hover {
    color: #007bff;
    font-weight: 600;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8)
}

/* Page header */
.logo {
    background-image: url("/static/images/various-spices-and-herbs-website-header.jpg");
    background-size: cover;
    height: 255px;
    margin-bottom: -55px;
    padding-top: 4%;
    color: #fafafa;
    text-shadow: 0px 0px 6px #000000, -3px -3px 6px #000000, 3px 3px 6px #000000, 3px 3px 6px #000000;

}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,0.8)
}

/* Footer */
#footer {
    color: #fafafa;
    height: 3%;
    
}

#footer a {
    color: #fafafa;
    padding-top: 2px;
}

.divider {
    padding: 0 0.5rem;
}

/* Mobile screen size styles */
@media only screen and (max-width: 768px) {
    .small {
        display: none;
    }
    .recipe-left {
        max-width: 92%;
        margin: 2% auto 2%;
    }

    /* Footer */
    #footer {
        height: auto;
    }
}