{% extends 'base.html' %} {% block content %}
<div class="col">
    <div class="col-lg-12 text-center">
        <h3>{{recipe.recipe_name}}</h3>
        <hr>
    </div>
    <!-- Recipe informations and picture -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 recipe-left">
                <p><i class="fas fa-info"></i> <span class="text-bold">Recipe short descriptions:</span> <br>&nbsp;{{recipe.recipe_info}}</p> 
                <div>   
                    {% if recipe.category_name %}
                        <p><i class="fas fa-seedling"></i> <span class="text-bold">Dietary type:</span> {{recipe.category_name}}</p>
                    {% else %}
                        <p style="display: none;"></p>
                    {% endif %}
                </div>
                <p><i class="fas fa-fist-raised"></i> <span class="text-bold">Recipe difficulty:</span> {{recipe.recipe_difficulty}}</p>
                <div class="row">
                    <div class="col-sm-6">
                        <p><i class="far fa-clock"></i> <span class="text-bold">Cooking time:</span> {{recipe.cooking_time}}  mins</p>
                    </div>
                    <div class="col-sm-6">
                        <p><i class="fas fa-utensils"></i> <span class="text-bold">Serving size:</span> {{recipe.servings_size}} dishes</p>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            {% if recipe.recipe_image_name %}
            <img class="recipe_image" src="{{url_for('file', filename=recipe['recipe_image_name'])}}" alt="recipe picture"/>
            {% else %}
            <img class="recipe_image" src="{{url_for('static', filename='images/img_placeholder.png')}}" alt="placeholder imgage"/>
            {% endif %}
        </div>
    </div>
    <!-- /Recipe informations and picture -->

    <!-- Ingredients and required tools for the recipe -->
    <div class="row second-row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h5><i class="fas fa-clipboard-list"></i> Ingredients:</h5>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h5><i class="fas fa-blender"></i> Required tools and items for the recipe:</h5>
            <ul>
                
                    {% if recipe.you_will_need %}    
                        {% for tools in recipe.you_will_need %}
                        <li>{{ tools }}</li>
                        {% endfor %}
                    {% else %}
                    <li>No special tools needed for this recipe</li>
                    {% endif %}
                
            </ul>
        </div>
    </div>
    <!-- /Ingredients and required tools for the recipe -->

    <!-- Preparation and cooking instructions of the recipe -->
    <div class="row">
        <div class="col">
            <h5><i class="fas fa-clipboard-list"></i> Preparation and cooking instructions:</h5>
            <ul>
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>  
    </div>
    <hr>
    <!-- /Preparation and cooking information fo the recipe -->
    
    <!-- Recipe control buttons update and delete -->
    <div class="row">
        <div class="mx-auto">
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" type="button" class="btn btn-dark">Update Recipe</a>
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" type="button" class="btn btn-danger">Delete Recipe</a>
        </div> 
    </div>
    <!-- /Recipe control buttons update and delete -->

</div>
<script> 
    document.getElementById('our-brand').style.display = "block";
</script>
{% endblock %}