{% extends 'base.html' %} {% block content %}
<div class="col">
    <div class="col-lg-12 text-center">
        <h3>{{recipe.recipe_name}}</h3>
        <hr>
    </div>
    <!-- Recipe informations and picture -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 recipe-left">
            <p><i class="fas fa-info"></i> {{recipe.recipe_info}}</p> 
            <div>   
                {% if recipe.category_name == null %}
                    <p style="display: none;"></p>
                {% else %}
                    <p><i class="fas fa-seedling"></i> {{recipe.category_name}}</p>
                {% endif %}
            </div>
            <p><i class="fas fa-fist-raised"></i> {{recipe.recipe_difficulty}}</p>
            <div class="row">
                <div class="col-sm-6">
                    <p><i class="far fa-clock"></i> {{recipe.cooking_time}} - mins</p>
                </div>
                <div class="col-sm-6">
                    <p><i class="fas fa-utensils"></i> {{recipe.servings_size}} dishes</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="recipe_image" src="{{url_for('file', filename=recipe['recipe_image_name'])}}" alt="recipe picture"/>
        </div>
    </div>
    <!-- /Recipe informations and picture -->

    <!-- Ingredients and required tools for the recipe -->
    <div class="row second-row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h5><i class="fas fa-clipboard-list"></i> Ingredients:</h5>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h5>Required tools and items for the recipe:</h5>
            <ul>
                {% for tools in recipe.you_will_need %}
                    <li>{{ tools }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Ingredients and required tools for the recipe -->

    <!-- Preparation and cooking instructions of the recipe -->
    <div class="row">
        <div class="col">
            <h5><i class="fas fa-clipboard-list"></i> Preparation and cooking instructions:</h5>
            <ul>
                {% for instruction in recipe.instructions %}
                    <li>{{ instruction }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Preparation and cooking information fo the recipe -->

</div>

{% endblock %}